@page
@model wcho2BAIS3150CodeSample.Pages.EnrollStudentModel

@{
    ViewData["Title"] = "Enroll Students";
}
@section EnrollStudentsContent
    {
    <div class="divHeader">
    <h1>EnrollStudentsContent</h1>
    <p>This is the main content for the EnrollStudentsContent page.</p>
    </div>

}