@page
@model wcho2BAIS3150CodeSample.Pages.FindDatabaseUserModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Find Database User</title>
</head>
<body>
    <table>
        <tr>
            <td>Current User: </td>
            <td>@Model.CurrentUser.CurrentUser</td>
        </tr>
        <tr>
            <td>System User: </td>
            <td>@Model.CurrentUser.SystemUser</td>
        </tr>
        <tr>
            <td>Session User: </td>
            <td>@Model.CurrentUser.SessionUser</td>
        </tr>
    </table>
</body>
</html>
