@page
@model wcho2BAIS3150CodeSample.Pages.IndexModel
@{
    ViewData["Title"] = "**** Title from Content ****";
}

@section scriptContent
    {
    <script type="text/javascript">
        // *** script from content page ***
        
    </script>
}
@section indexContent
    {
    <div class="divHeader">
        <h1>Weclome Home!</h1>

    </div>




}

